.obrazekPrava img {
    margin-right: 20%;
    margin-top: -10%;
    float: right;
    width: 15%;
    height: auto;
    
}

.gimp img {
    float: right;
    width: 50%;
    height: auto;
    margin-right: 2%;
    margin-top: -13%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.minecraft img{
    margin-right:20%;
    margin-top: -20%;
    float: right;
    width: 15%;
    height: auto;
    padding-bottom:30px;
}
.minecraft p{
    margin-right:21%;
    float: right;
    margin-top: -3%;
}