.trial img{
    margin-right:23%;
    margin-top: -13%;
    float: right;
    width:20%;
    height: auto;
    padding:30px;
}
.linux img{
    margin-left:15%;
    margin-top: -27%;
    float: left;
    width:20%;
    height: auto;
    padding:30px;
}

@media screen and (max-width: 1200px) {
    .trial img{

        float: center;
        width:50%;
        height: auto;
        padding:30px;
    }
    .linux img{
        margin-right:-30px;
        margin-top: -860px;
        float: right;
        width:20%;
        height: auto;
        padding:30px;
    }
    
}