figure img{
    margin-left:15%;
    margin-top:-2% ;
    float: left;
    width:10%;
    height: auto;
    padding-top:30px;
    padding-bottom:30px;
}
@media screen and (max-width: 1200px) {
    figure img{

        float: right;
        width:20%;
        height: auto;
        margin-right: 200px;
        margin-top: -90px;
        
    }
    
}