.win img{
    margin-right:15%;
    margin-top: -22%;
    float: right;
    width:20%;
    height: auto;
    padding:30px;
}
@media screen and (max-width: 600px) {
    .win img{
        float: center;
        width:50%;
        height: auto;
        margin-top: -130px;

    }
    .win{
        padding: 60px;
    }
    
    
}
@media screen and (min-width: 1920px){
    .win img{
        margin-right:15%;
        margin-top: -18%;
        float: right;
        width:20%;
        height: auto;
        
    }
    
}