body {
    font-family:MujFont;
    font: medium;
    background-color: #2e6171;
}
@font-face {
    font-family: MujFont;
    src: url(../fonts/PTSerif-Regular.ttf);
}
main{
    background-color: #b76d68;
    padding: 20px;
}
main a {
    color: #f4faff;
    text-decoration: none;
    
}
a:hover {
    color: #2e6171;
    text-decoration: underline;
}
header h1 {
    font-size: 40px;
    color: #f4faff;
    text-align: center;
    
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #b76d68;
}
.flex-container > div  {
    background-color: #80AB82;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 150%;
    flex: 25%;
    
}
.flex-container > div p {
    font-size: 100%;
}
footer p {
    color: #f4faff;
}

@media screen and (max-width: 1200px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-container > div {
        margin-left: 0px;
        margin-right: 0px;
    }
    
}
