body{
    font-family: 'Times New Roman', Times, serif, cursive;
    font-size: medium;
    
}


.p1 {
    color: white;
    width: 500px;
    text-align: center;
    margin: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}
.p2 {
    color: white;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}
.p3 {
    color: white;
    width: 500px;
    text-align: center;
    margin: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}
.p4 {
    color: white;
    width: 500px;
    text-align: center;
    margin: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}
.p5 {
    color: white;
    width: 500px;
    text-align: center;
    margin: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}
.p6 {
    color: white;
    width: 500px;
    text-align: center;
    margin: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}
.navrat {
    
    margin:auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    background-color: white;
    border: none;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    
    background-color: tomato;
}
.button:hover{
    background-color: grey;
   
 
}

