body{
    font-family: 'Times New Roman', Times, serif, cursive;
    font-size: medium;
    background-color: rgb(81, 78, 85);
}
main {
    margin-bottom: -15px;
    background-color: rgb(51, 49, 54);
}

.p1 {
    color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: grey;
}
.p2 {
    color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: grey;
}
.p3 {
    color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: grey;
}
.p4 {
    color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: grey;
    
}
.p5 {
    color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: grey;
}
.p6 {
    color: white;
    width: 1000px;
    text-align: center;
   /* margin: 500px;
    margin-top: 20px;
    margin-bottom: 20px;*/
    margin: auto;
    background-color: grey;
}
.navrat {
    
    margin:auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    background-color: white;
    border: none;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    
   
}
.button:hover{
    background-color: grey;
   
 
}
p{
   color: white;
}

header{
    background-color: white;
    margin-right: 99%;
    
}
